@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --ff: 'Red Hat Display', sans-serif;
    --fw-h1: 900;
    --fw-h2: 700;
    --fw-p: 500
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-image: url('images/pattern-background-desktop.svg');
    background-position: center center;
    font-family: var(--ff);
    padding: 40px;
}
h1 {
    font-size: 1.5rem;
    color: var(--Dark-blue);
    font-weight: var(--fw-h1);
}
h2 {
    font-size: 1rem;
    color: var(--Dark-blue);
    font-weight: var(--fw-h2);
}
p {
    color: var(--Desaturated-blue);
    font-weight: var(--fw-p);
}
.card {
    background-color: white;
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
}
.right {
    display: grid;
    gap: 1rem;
    padding: 1rem 3rem;
}
.title {
    margin-top: 2rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-pale-blue);
    padding: 1rem;
    border-radius: 1rem;
}
.flex-group img {
    margin-right: 1rem;
}
.flex-group a {
    font-size: 0.9rem;
    font-weight: var(--fw-h1);
    color: var(--Bright-blue)
}
.btn {
    height: 40px;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--Bright-blue);
    color: white;
    font-weight: var(--fw-h2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 1rem 0;
}
.btn:active {
    transform: scale(0.98);
    transition: transform 0.1s ease;
}
.cancel {
    text-decoration: none;
    color: var(--Desaturated-blue);
    font-weight: var(--fw-h1);
}